# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# Mac / Windows
.DS_Store
Thumbs.db

# Environment
.env
.env.*