{% extends "base.html" %}

{% block content %}
<h2>All Blogs</h2>
<ul>
    {% for blog in page_obj %}
        <li>
            <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a> by {{ blog.author }}
        </li>
    {% endfor %}
</ul>

<div>
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>
<a href="{% url 'blog_create' %}">Create New Blog</a>
{% endblock %}
